/* Header */

	$accent: accent2;

	body {
		
		// padding-top: _size(header-height);

		&:before {
			content: ' ';
			background-image: url(images/bg3.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		    display: block;
		    position: fixed;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    z-index: -1;
		    opacity: 0.05;
		}
	}

	#header {
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'space-between');
		background: _palette($accent, bg);
		color: _palette($accent, fg-bold);
		cursor: default;
		height: _size(header-height);
		left: 0;
		line-height: _size(header-height);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base) + 1;

		> .logo {
			color: _palette($accent, fg-bold);
			font-size: 1rem;
			font-weight: _font(weight-bold);
			height: inherit;
			line-height: inherit;
			padding: 0 1.25rem;
			text-decoration: none;
			
			> img {
				height:  55%;
				vertical-align: middle;
			}
			
		}

		> nav {
			> a {
				color: inherit;
				display: inline-block;
				padding: 0 1.5rem;
				text-decoration: none;

				&:hover {
					color: _palette(accent1, bg);
				}

				&.menu-icon {
					@include icon;
					-webkit-tap-highlight-color: rgba(0,0,0,0);

					&:before {
						// content: '\f0c9';
						margin: 0 0.5rem 0 0;
					}
				}

				// &[href="#menu"] {
				// 	@include icon;
				// 	-webkit-tap-highlight-color: rgba(0,0,0,0);

				// 	&:before {
				// 		content: '\f0c9';
				// 		margin: 0 0.5rem 0 0;
				// 	}
				// }

				// & + a[href="#menu"]:last-child {
				// 	border-left: solid 1px _palette($accent, border);
				// 	margin-left: 0.5rem;
				// 	padding-left: 1.25rem;
				// }

				&:last-child {
					padding-right: 2rem;
				}

				@include breakpoint('<=small') {
					padding: 0 0.5rem;

					&.menu-icon{
						margin-left: 0.25rem;
						padding-left: 1rem;
						padding-right: 1rem;
					}

					&.menu {
						display: none;
					}

					// & + a[href="#menu"]:last-child {
					// 	margin-left: 0.25rem;
					// 	padding-left: 1rem;
					// }

					&:last-child {
						padding-right: 1rem;
					}
				}

				@include breakpoint('>=medium') {
					&.menu-icon {
						display: none;
					}
				}


			}
		}
	}

	@include breakpoint('<=medium') {
		// body {
		// 	padding-top: 44px;
		// }

		#header {
			height: 44px;
			line-height: 44px;
		}
	}

	@include breakpoint('<=xsmall') {
		#header {
			min-width: 320px;
		}
	}